<!-- component -->
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
              <th class="px-4 py-3">MEMBRESIA </th>
              <th class="px-4 py-3">NRO MES</th>
              <th class="px-4 py-3">Status</th>
              <th class="px-4 py-3">FECHA</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  
                  <div>
                    <p class="font-semibold text-black">PAGO MEMBRESIA</p>
                    <p class="text-xs text-gray-600">ENERO</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-ms font-semibold border">01</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-gray-100 rounded-sm"> Pending </span>
                <a href="/membresia_pago" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">PAGAR</a>
              </td>
              <td class="px-4 py-3 text-sm border">6/4/2000</td>
            </tr>
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  
                  <div>
                    <p class="font-semibold text-black">PAGO MEMBRESIA</p>
                    <p class="text-xs text-gray-600">FEBRERO</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-md font-semibold border">02</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-gray-100 rounded-sm"> Pending </span>
                <a href="/membresia_pago" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">PAGAR</a>
              </td>
              <td class="px-4 py-3 text-sm border">6/10/2020</td>
            </tr>
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  
  
                  <div>
                    <p class="font-semibold">PAGO MEMBRESIA</p>
                    <p class="text-xs text-gray-600">MARZO</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-md font-semibold border">03</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-gray-100 rounded-sm"> Pending </span>
                <a href="/membresia_pago" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">PAGAR</a>
              </td>
              <td class="px-4 py-3 text-sm border">6/10/2020</td>
            </tr>
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  
                  <div>
                    <p class="font-semibold">PAGO MEMBRESIA</p>
                    <p class="text-xs text-gray-600">ABRIL</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 border text-md font-semibold">04</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-gray-100 rounded-sm"> Pending </span>
                <a href="/membresia_pago" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">PAGAR</a>
              </td>
              <td class="px-4 py-3 border text-sm">6/10/2020</td>
            </tr>
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                 
                  <div>
                    <p class="font-semibold">PAGO MEMBRESIA</p>
                    <p class="text-xs text-gray-600">MAYO</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 border text-md font-semibold">05</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-gray-100 rounded-sm"> Pending </span>
                <a href="/membresia_pago" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">PAGAR</a>
              </td>
              <td class="px-4 py-3 border text-sm">6/10/2020</td>
            </tr>
            
  
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  
                  <div>
                    <p class="font-semibold">PAGO MEMBRESIA</p>
                    <p class="text-xs text-gray-600">JUNIO</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 border text-md font-semibold">06</td>
              <td class="px-4 py-3 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-gray-100 rounded-sm"> Pending </span>
                <a href="/membresia_pago" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">PAGAR</a>
              </td>
              <td class="px-4 py-3 border text-sm">6/10/2020</td>
            </tr>
  
  
            
          </tbody>
        </table>
      </div>
    


<!-- tabla voucher -->




    </div>
  </section>