<div>
    <div class="text-center">
        <div class="bg-red">MIS DEUDAS</div>
    </div>
    <div class="flex   flex-row bg-red-200">
        <div>
            <div >

            </div>
        </div>
    </div>
</div>