<div class="flex">
    <div class="h-[210mm] w-[210mm] bg-gray-100 p-24">
        <p class="w text-5xl font-semibold leading-tight text-gray-900">We cannot solve our problems with the same thinking we used when we created them.</p>
        <div class="mt-20 flex justify-between">
          <div>
            <p class="text-5xl font-semibold">Albert Einstein</p>
            <p class="pt-4">Albert Einstein was a German-born theoretical physicist, widely acknowledged to be one of the greatest physicists of all time. Einstein is best known for developing the theory of relativity, but he also made important contributions to the development of the theory of quantum mechanics</p>
          </div>
          <div class="pl-10">
            <img class="w-[1000px]" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Einstein_1921_by_F_Schmutzer_-_restoration.jpg/440px-Einstein_1921_by_F_Schmutzer_-_restoration.jpg" alt="" />
          </div>
        </div>
      </div>
      
</div>