<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://unpkg.com/alpinejs/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</head>
<body>
    <%- include('partials/navbar'); %>
    <div class="flex font-sans">
        <div class="flex-none w-48 relative">
          <img src="IconoDocumento.png" alt="" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
        </div>
        <form class="flex-auto p-6 max-width: 1024px ">
          <div class="flex flex-wrap ">
            <h1 class="w_96 flex-auto text-lg font-semibold text-slate-900 ">
              SOLICITAR SERVICIOS
            </h1>
          </div>
          <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
            <div class="space-x-2 flex text-sm">
              <label>
                <input class="sr-only peer" name="option" type="radio" value="EE" checked />
                <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                  ALQUILER DEL LOCAL DE EVENTOS ESPECIALES (C_Puno)
                </div>
              </label>
              <label>
                <input class="sr-only peer" name="option" type="radio" value="EA" />
                <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                  ALQUILER DE LOCAL EVENTOS ACADÉMICOS (C_Puno)
                </div>
              </label>
              <label>
                <input class="sr-only peer" name="option" type="radio" value="A2" />
                <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                  ALQUILER DE AUDITORIO 2° PISO (C_Puno)
                </div>
              </label>
              <label>
                <input class="sr-only peer" name="option" type="radio" value="A1" />
                <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                  ALQUILER DE AUDITORIO 1° PISO (C_Juliaca)
                </div>
              </label>
              <label>
                <input class="sr-only peer" name="option" type="radio" value="LC" />
                <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                  ALQUILER DE LABORATORIO COMPUTO 3° PISO (C_Juliaca)
                </div>
              </label>
            </div>
          </div>
          <div class="flex space-x-4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
              <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                SOLICITAR
              </button>
              <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                VISUALIZAR
              </button>
            </div>
            <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
              <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
</body>
</html>