<section x-show="open" class="pt-10 py-24 lg:pt-0 bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
          >             
            <% if (messages.error) { %>
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2" role="alert"><%- messages.error %></div>
            <% } %>
          
            <div class="flex-auto p-5 lg:p-10">
              <h4 class="text-2xl font-semibold">Formulario de inscripción</h4>
              <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                Complete el formulario y los contactaremos dentro de las 24 horas
              </p>
              <form action="/web/add" method="post">
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="full-name"
                  >Nombre y apellidos</label
                ><input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Nombre completo"
                  style="transition: all 0.15s ease 0s;"
                  name="nombres"
                />
              </div>
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="full-name"
                  >DNI</label
                ><input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Documento de indentidad"
                  style="transition: all 0.15s ease 0s;"
                  name="dni"
                />
              </div>
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="full-name"
                  >Número de celular</label
                ><input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Número de contacto"
                  style="transition: all 0.15s ease 0s;"
                  name="celular"
                />
              </div>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  for="email"
                  >Correo Electrónico</label
                ><input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Correo Electrónico"
                  style="transition: all 0.15s ease 0s;"
                  name="email"
                />
              </div>
              <div class="text-center mt-6">
                <input type="submit" class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" value="Registrarse"/>
                
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>