
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- component -->
<div class="relative flex p-24"  >
  <div class="h-screen w-1/2 bg-black ">
    <div class="mx-auto flex h-full w-2/3 flex-col justify-center text-white xl:w-1/2">
      <div>
        <p class="text-4xl">Login</p>
        <p class="text-3xl">Colegio de Ingenieros CD Puno|</p>
      </div>
      <div class="my-6">
        
      </div>
      <div>
        <fieldset class="border-t border-solid border-gray-600">
          <legend class="mx-auto px-2 text-center text-sm">Zona segura</legend>
        </fieldset>
      </div>
      <% if (messages.error) { %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold"><%- messages.error %></strong>
        </div>
        <% } %>
      <div class="">
        <form class="mt-8 space-y-6" action="/main" method="POST">
          <div>
            <label class="mb-2.5 block font-extrabold" for="email">Email</label>
            <input type="email" id="email" name="email" class="inline-block w-full rounded-full bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow placeholder:opacity-30" placeholder="mail@user.com" />
          </div>
          <div class="mt-4">
            <label class="mb-2.5 block font-extrabold" for="email">Password</label>
            <input type="password" id="password" name="password" class="inline-block w-full rounded-full bg-white p-2.5 leading-none text-black placeholder-indigo-900 shadow" />
          </div>
          <div class="mt-4 flex w-full flex-col justify-between sm:flex-row">
            <!-- Remember me -->
            <div><input type="checkbox" id="remember" /><label for="remember" class="mx-2 text-sm">Remember me</label></div>
            <!-- Forgot password -->
            <div>
              <a href="#" class="text-sm hover:text-gray-200">Forgot password</a>
            </div>
          </div>
          <div class="my-10">
            <button class="w-full rounded-full bg-orange-600 p-5 hover:bg-orange-800">Login</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  <div class="h-screen w-1/2 bg-black p-24">
    <img src="https://live.staticflickr.com/8125/8634347411_f0bb4dda1d_b.jpg" class="width-80%" width="90%" />
  </div>
</div>
</html>