<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar certificado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://unpkg.com/alpinejs/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    
</head>
<body>
    <%- include('partials/navbar'); %>
    <%- include('partials/pagar_certificado'); %>
    
</body>
</html>