<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="container flex justify-center mx-auto">
        <div class="flex flex-col">
            <div class="w-full">
                <div class="border-b border-gray-200 shadow">
                    <table>
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    ID
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                   Nombre
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Email
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Fecha
                                </th>
                                <th class="px-6 py-2 text-xs text-gray-500">
                                    Verificar
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    456123
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        Jon doe
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">jhondoe@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2021-1-12
                                </td>
                                
                                <td class="px-6 py-4">
                                    <a href="resultados_c.ejs" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr>
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    456321
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        Joel kevin
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">Joelkevin@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2022-02-12
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                                
                            </tr>
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    563214
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        jose daniel
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">josedaniel@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2022-03-19
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr>
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    632541
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        jhamilNoe
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">JhamilNoe@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2021-1-12
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr>
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    326541
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        Dayam
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">Dayam@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2022-03-26
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr><tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    452163
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        Mathias
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">Mathias@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2022-04-22
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr>
    
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    432651
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        Mateo
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">Mateo@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2022-04-29
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr>
    
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    412653
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        Carlos
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">Carlo@gmail.com</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    2022-05-11
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="px-4 py-1 text-sm text-white bg-green-500 rounded">verificar</a>
                                </td>
                            </tr>
    
    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>