<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Solicitado</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div style="background-color : #f4f4f0" class=" sm:mx-32 lg:mx-32 xl:mx-72 ">
        <div class="flex justify-between container mx-auto">
        <div class="w-full">
        <div class="mt-4 px-4">
        <h1 class="text-3xl font-semibold py-7 px-5 text-3xl">SOLICITUD DE SERVICIO</h1>
        <h1 class="font-thinner flex text-4xl pt-10 px-5">Datos para el llenado de Solicitud de Servicio
        </h1>
        
        <form class="mx-5 my-5">
        <label class="relative block p-3 border-2 border-black rounded" htmlFor="name">
          <span class="text-md font-semibold text-zinc-900" htmlFor="name">
            Apellidos y Nombres Completos
          </span>
          <input class="w-full bg-transparent p-0 text-sm  text-gray-500 focus:outline-none" id="name" type="text" placeholder="Digite sus nombres" />
        </label>
        <div class="mt-5">
        <label class="input-field inline-flex items-baseline border-2 border-black rounded  p-4">
        <span class="flex-none text-dusty-blue-darker select-none leading-none">Número Telefónico:
        </span>
        <div class="flex-1 leading-none">
        <input id="handle" type="text" class="w-full pl-1 bg-transparent focus:outline-none" name="handle" placeholder="000-000-000" />
        </div>
        </label>
        </div>
        
        <div style="background-color : #f4f4f0">
          <div class="flex justify-between container mx-auto">
          <div class="w-full">
          <div class="mt-4 px-4">
          <h1 class="font-thinner flex text-4xl pt-10 px-5 text-3xl">Detalles del servicio solicitado
          </h1>
        

        
        <label class="relative block p-3 border-2 mt-5 border-black rounded" htmlFor="name">
          <span class="text-md font-semibold text-zinc-900" htmlFor="name">
            ALQUILER DE:
          </span>
        
          <input class="w-full   p-0 text-sm border-none bg-transparent text-gray-500 focus:outline-none" id="name" type="text" placeholder="Describe el ambiente que desea contratar" />
        </label>
        
        
        <label class="relative block p-3 border-2  mt-5 border-black rounded" htmlFor="name">
          <span class="text-md font-semibold  text-zinc-900" htmlFor="name">
            DETALLES DEL ASUNTO:
          </span>
        
          <input class="w-full read-only:bg-zinc-800  p-0 text-sm bg-transparent text-gray-500 focus:outline-none" id="name" type="text" placeholder="Detalles como: Fecha, Hora, Cantidad de personas" />
          
        </label>
        
        <label class="relative block p-3 border-2 mt-5 border-black rounded" htmlFor="name">
          <span class="text-md font-semibold  text-zinc-900" htmlFor="name">
            DECLARACIÓN DE CUIDADOS:
          </span>
        
          <input class="w-full read-only:bg-zinc-800  p-0 text-sm bg-transparent text-gray-500 focus:outline-none" id="name" type="text" placeholder="Declara tus modos y cuidados que le darás al ambiente prestado" />
          
        </label>
        
        <h1 class="text-2xl font-semibold mt-5">AMBIENTE ESPECIFICADO</h1>
        <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
          <div class="space-x-2 flex text-sm">
            <label>
              <input class="sr-only peer" name="option" type="radio" value="EE" checked />
              <div class="w-50 h-50 rounded-lg  flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                ALQUILER DEL LOCAL DE EVENTOS ESPECIALES (C_Puno)
              </div>
            </label>
            <label>
              <input class="sr-only peer" name="option" type="radio" value="EA" />
              <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                ALQUILER DE LOCAL EVENTOS ACADÉMICOS (C_Puno)
              </div>
            </label>
            <label>
              <input class="sr-only peer" name="option" type="radio" value="A2" />
              <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                ALQUILER DE AUDITORIO 2° PISO (C_Puno)
              </div>
            </label>
            <label>
              <input class="sr-only peer" name="option" type="radio" value="A1" />
              <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                ALQUILER DE AUDITORIO 1° PISO (C_Juliaca)
              </div>
            </label>
            <label>
              <input class="sr-only peer" name="option" type="radio" value="LC" />
              <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                ALQUILER DE LABORATORIO COMPUTO 3° PISO (C_Juliaca)
              </div>
            </label>
          </div>
        </div>
        <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 bg-red-700 text-white" type="button">
          ENVIAR
        </button>

        </form>
          </div>
            </div>
        
        
        </div>
        </div>
        </div>

        <div style="background-color : #f4f4f0">
          <div class="flex justify-between container mx-auto">
          <div class="w-full">
          <div class="mt-4 px-4">
          <h1 class="font-thinner flex text-4xl pt-10 px-5 text-3xl">Detalles especiales (Pedidos)
          </h1>

        <div class="flex items-center justify-center p-12">
          <!-- Author: FormBold Team -->
          <!-- Learn More: https://formbold.com -->
          <div class="mx-auto w-full max-w-[550px]">
            <form action="https://formbold.com/s/FORM_ID" method="POST">
              <div class="mb-5">
                <label
                  for="name"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                  Nombre Completo
                </label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Apellidos y nombres completos"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
              <div class="mb-5">
                <label
                  for="email"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                  Correo Electrónico
                </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="usuario@colegiado.com"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
              <div class="mb-5">
                <label
                  for="subject"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                  Servicio Solicitado
                </label>
                <input
                  type="text"
                  name="subject"
                  id="subject"
                  placeholder="Ingrese servicio solicitado"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
              <div class="mb-5">
                <label
                  for="message"
                  class="mb-3 block text-base font-medium text-[#07074D]"
                >
                 Pedido especial
                </label>
                <textarea
                  rows="4"
                  name="message"
                  id="message"
                  placeholder="Detalles los pedidos especiales que usted requiera en su servicio"
                  class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                ></textarea>
              </div>
              <div>
                <button
                  class="hover:shadow-form rounded-md bg-red-600 py-3 px-8 text-base font-semibold text-white outline-none"
                >
                  Enviar Pedido
                </button>
              </div>
            </form>
          </div>
        </div>

</body>
</html>