<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Servicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div
      class="min-h-screen from-red-600 via-pink-400 to-pink-600 bg-gradient-to-br pb-10"
    >
    
      <div class="w-full md:w-7/12 pt-5 px-4 mx-auto text-center">
        <div class="text-sm text-white py-1">
          
          <a
            href="https://www.material-tailwind.com/docs/html/card?ref=tailwindcomponents"
            class="text-white font-semibold"
            target="_blank"
            ></a
          >
          <br /><br />
          <h1 class="text-white font-semibold target text-xl">Te presentamos los </h1>
          <h1 class="text-white font-semibold target text-3xl">
           
            SERVICIOS QUE PUEDES SOLICITAR</h1>
            <nav id="header" class="w-full z-30 top-0 py-1">
              <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">
        
                  <label for="menu-toggle" class="cursor-pointer md:hidden block">
                      <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                          <title>home</title>
                          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                      </svg>
                  </label>
                  <input class="hidden" type="checkbox" id="menu-toggle" />
        
                  
              </div>
          </nav>
        
          <div class="carousel relative container mx-auto" style="max-width:1600px;">
              <div class="carousel-inner relative overflow-hidden w-full">
                  <!--Slide 1-->
                  <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                  <div class="carousel-item absolute opacity-0" style="height:50vh;">
                      <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">
        
                          <div class="container mx-auto">
                              <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                  <p class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</p>
                                  <a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">view product</a>
                              </div>
                          </div>
        
                      </div>
                  </div>
                  <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                  <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
        
                  <!--Slide 2-->
                  <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                  <div class="carousel-item absolute opacity-0 bg-cover bg-right" style="height:50vh;">
                      <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');">
        
                          <div class="container mx-auto">
                              <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                  <p class="text-black text-2xl my-4">Real Bamboo Wall Clock</p>
                                  <a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">view product</a>
                              </div>
                          </div>
        
                      </div>
                  </div>
                  <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                  <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
        
                  <!--Slide 3-->
                  <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                  <div class="carousel-item absolute opacity-0" style="height:50vh;">
                      <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-bottom" style="background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">
        
                          <div class="container mx-auto">
                              <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
                                  <p class="text-black text-2xl my-4">Brown and blue hardbound book</p>
                                  <a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">view product</a>
                              </div>
                          </div>
        
                      </div>
                  </div>
                  <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                  <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
        
                  <!-- Add additional indicators for each slide-->
                  <ol class="carousel-indicators">
                      <li class="inline-block mr-3">
                          <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                      </li>
                      <li class="inline-block mr-3">
                          <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                      </li>
                      <li class="inline-block mr-3">
                          <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                      </li>
                  </ol>
        
              </div>
          </div>
        
          <!--	 
        
        Alternatively if you want to just have a single hero
        
        <section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">
        
        <div class="container mx-auto">
        
          <div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
            <h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
            <a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
        
          </div>
        
          </div>
        
        </section>
        
        -->
        
          <section class="bg-white py-8">
        
              <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
        
                  <nav id="store" class="w-full z-30 top-0 px-6 py-1">
                      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">
        
                        
        
                          <div class="flex items-center" id="store-nav-content">
        
                              <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                                  <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                                  </svg>
                              </a>
        
                              <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                                  <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                      <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
                                  </svg>
                              </a>
        
                          </div>
                    </div>
                  </nav>
        
                


                  <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                      <a href="#">
                          <img class="hover:grow hover:shadow-lg" src="https://arqa.com/wp-content/uploads/2019/01/70db2f160cf0a377a5ef3531caee6158f2d4c1b6-530x398.jpeg">
                          <div class="pt-3 flex items-center justify-between">
                              <p class="font-bold">ALQUILER DEL LOCAL DE EVENTOS ESPECIALES (C_Puno)</p>
                              <svg class="h-6 w-6 fill-current text-green-700 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                              </svg>
                          </div>
                          <p class="pt-1 text-gray-900">L.C. DE EVENTOS ESPECIALES</p>
                      </a>
                  </div>
        
                  <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                      <a href="#">
                          <img class="hover:grow hover:shadow-lg" src="https://arqa.com/wp-content/uploads/2019/01/70db2f160cf0a377a5ef3531caee6158f2d4c1b6-530x398.jpeg">
                          <div class="pt-3 flex items-center justify-between">
                              <p class="font-bold">ALQUILER DE LOCAL EVENTOS ACADÉMICOS (C_Puno)</p>
                              <svg class="h-6 w-6 fill-current text-green-700 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                              </svg>
                          </div>
                          <p class="pt-1 text-gray-900">L.C. EVENTOS ACADÉMICOS</p>
                      </a>
                  </div>
        
                  <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                      <a href="#">
                          <img class="hover:grow hover:shadow-lg" src="https://arqa.com/wp-content/uploads/2019/01/70db2f160cf0a377a5ef3531caee6158f2d4c1b6-530x398.jpeg">
                          <div class="pt-3 flex items-center justify-between">
                              <p class="font-bold">ALQUILER DE AUDITORIO 2° PISO (C_Puno)</p>
                              <svg class="h-6 w-6 fill-current text-green-700 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                  <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                              </svg>
                          </div>
                          <p class="pt-1 text-gray-900">AUDITORIO 2° PISO SEDE JULIACA</p>
                      </a>
                  </div>


                  <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                    <a href="#">
                        <img class="hover:grow hover:shadow-lg" src="https://arqa.com/wp-content/uploads/2019/01/70db2f160cf0a377a5ef3531caee6158f2d4c1b6-530x398.jpeg">
                        <div class="pt-3 flex content-center justify-between">
                            <p class="font-bold">ALQUILER DE AUDITORIO 1° PISO</p>
                            <svg class="h-6 w-6 fill-current text-green-700 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                            </svg>
                        </div>
                        <p class="pt-1 text-gray-900">AUDITORIO 1° PISO SEDE PUNO</p>
                    </a>
                </div>        
                  </div>
        


                  <h1 class="w_96 flex-auto text-lg font-semibold text-slate-900 text-2xl">
                    --------------          ELIGE UNO DE LOS SERVICIOS          --------------
                  </h1>



                  <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                    <div class="space-x-2 flex text-sm">
                      <label>
                        <input class="sr-only peer" name="option" type="radio" value="EE" checked />
                        <div class="w-50 h-50 rounded-lg  flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                          ALQUILER DEL LOCAL DE EVENTOS ESPECIALES (C_Puno)
                        </div>
                      </label>
                      <label>
                        <input class="sr-only peer" name="option" type="radio" value="EA" />
                        <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                          ALQUILER DE LOCAL EVENTOS ACADÉMICOS (C_Puno)
                        </div>
                      </label>
                      <label>
                        <input class="sr-only peer" name="option" type="radio" value="A2" />
                        <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                          ALQUILER DE AUDITORIO 2° PISO (C_Puno)
                        </div>
                      </label>
                      <label>
                        <input class="sr-only peer" name="option" type="radio" value="A1" />
                        <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                          ALQUILER DE AUDITORIO 1° PISO (C_Juliaca)
                        </div>
                      </label>
                      <label>
                        <input class="sr-only peer" name="option" type="radio" value="LC" />
                        <div class="w-50 h-50 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                          ALQUILER DE LABORATORIO COMPUTO 3° PISO (C_Juliaca)
                        </div>
                      </label>
                    </div>
                  </div>
                

                  <h1 class="w_96 flex-auto text-lg font-semibold text-slate-900 Text-3xl">
                    DETALLES DE LOS SERVICIOS
                  </h1>


                  <section class="bg-white dark:bg-gray-800">
                    <div class="container px-6 py-8 mx-auto">
                        <div class="sm:flex sm:items-center sm:justify-between">
                        
            
                        </div>
            
                        <div class="grid gap-6 mt-16 -mx-6 sm:gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                            <div class="px-6 py-4 transition-colors duration-200 transform rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                                <p class="text-lg font-medium text-gray-800 dark:text-gray-100">NR° 01</p>
                                <h4 class="mt-2 text-4xl font-semibold text-gray-800 dark:text-gray-100">$300 <span class="text-base font-normal text-gray-600 dark:text-gray-400">/ 02 horas</span></h4>
                                <p class="mt-4 text-gray-500 dark:text-gray-300">ALQUILER DEL LOCAL DE EVENTOS ESPECIALES (C_Puno)</p>
            
                                <div class="mt-8 space-y-8">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Capacidad de 100 personas</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye Equipos de sonido</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye 100 asientos</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye un proyector</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Seguridad garantizada</span>
                                    </div>
                                </div>
            
                                <button class="w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                                    NEGOCIAR
                                </button>
                            </div>
            
                            <div class="px-6 py-4 transition-colors duration-200 transform rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                                <p class="text-lg font-medium text-gray-800 dark:text-gray-100">NR° 02</p>
                                <h4 class="mt-2 text-4xl font-semibold text-gray-800 dark:text-gray-100">$250 <span class="text-base font-normal text-gray-600 dark:text-gray-400">/ 02 horas</span></h4>
                                <p class="mt-4 text-gray-500 dark:text-gray-300">ALQUILER DE LOCAL EVENTOS ACADÉMICOS (C_Puno)</p>
            
                                <div class="mt-8 space-y-8">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Capacidad de 85 personas </span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">OIncluye Reproductores de sonido</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye una pizarra didáctica</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye equipo de filmación</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye 85 asientos</span>
                                    </div>
                                </div>
            
                                <button class="bg-red-600 hover:bg-pink-400 text-white font-bold py-2 px-4 rounded w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                                    NEGOCIAR
                                </button>
                            </div>
            
                            <div class="px-6 py-4 transition-colors duration-200 transform bg-gray-700 rounded-lg dark:bg-gray-600">
                                <p class="text-lg font-medium text-gray-100">NR° 03</p>
                                <h4 class="mt-2 text-4xl font-semibold text-gray-100">$400 <span class="text-base font-normal text-gray-400">/ 02 horas</span></h4>
                                <p class="mt-4 text-gray-300">ALQUILER DE AUDITORIO 2° PISO (C_Puno)</p>
            
                                <div class="mt-8 space-y-8">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-300">Capacidad de 200 personas</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-300">Incluye equipo de sonido</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-300">Incluye equipo de grabación</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-300">Incluye equipo de educación</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-300">Incluye 225 Asientos </span>
                                    </div>
                                </div>
            
                                <button class="bg-red-600 hover:bg-pink-400 text-white font-bold py-2 px-4 rounded w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                                    NEGOCIAR
                                </button>
                            </div>
            
                            <div class="px-6 py-4 transition-colors duration-200 transform rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700">
                                <p class="text-lg font-medium text-gray-800 dark:text-gray-100">NR° 04</p>
                                <h4 class="mt-2 text-4xl font-semibold text-gray-800 dark:text-gray-100">$350 <span class="text-base font-normal text-gray-600 dark:text-gray-400">/ 02 horas</span></h4>
                                <p class="mt-4 text-gray-500 dark:text-gray-300">ALQUILER DE AUDITORIO 1° PISO (C_Juliaca)</p>
            
                                <div class="mt-8 space-y-8">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Capacidad de 150 personas</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye equipo didáctico</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye equipo de sonido</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Incluye Seguridad</span>
                                    </div>
            
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>
            
                                        <span class="mx-4 text-gray-700 dark:text-gray-300">Asientos de acuerdo a su cap.</span>
                                    </div>
                                </div>
            
                                <button class="bg-red-600 hover:bg-pink-400 text-white font-bold py-2 px-4 rounded w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                                    NEGOCIAR
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
        
                <h1 class="w_96 flex-auto text-lg font-semibold text-slate-900 Text-3xl">
                    Envíenos un mensaje si desea negociar
                  </h1>
                <h1 class="w_96 flex-auto text-lg font-semibold text-slate-900 Text-3xl">
            --------------------------------------------------------------------------------------------------
          </h1>
<div class="flex min-h-screen items-center justify-start bg-white">
    <div class="mx-auto w-full max-w-lg">
      <h1 class="text-4xl font-medium text-red-600">CONTÁCTENOS!</h1>
      <p class="mt-3">Email us at help@domain.com or message us here:</p>
  
      <form action="https://api.web3forms.com/submit" class="mt-10">
      
        
  
        <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" /> 
        <div class="grid gap-6 sm:grid-cols-2">
          <div class="relative z-0">
            <input type="text" name="name" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Nombre Completo</label>
          </div>
          <div class="relative z-0">
            <input type="text" name="email" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Correo electrónico</label>
          </div>
          <div class="relative z-0 col-span-2">
            <textarea name="message" rows="5" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" "></textarea>
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Mensaje</label>
          </div>
        </div>
        <button type="submit" class="mt-5 rounded-md bg-black px-10 py-2 text-white">Enviar Mensaje</button>
      </form>
    </div>
  </div>

  <h1 class="w_96 flex-auto text-lg font-semibold text-slate-900 Text-3xl">
    --------------------------------------------------------------------------------------------------
  </h1>
          <section class="bg-white py-8">
        
              <div class="container py-8 px-6 mx-auto">
        
                  <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8" href="#">
                    <button class="bg-red-600 hover:bg-pink-400 text-white font-bold py-2 px-4 rounded">
                        SOLICITAR
                      </button>
          </a>
              
              </div>
        
    
        
          <footer class="container mx-auto bg-white py-8 border-t border-gray-400">
              <div class="container flex px-3 py-8 ">
                  <div class="w-full mx-auto flex flex-wrap">
                      <div class="flex w-full lg:w-1/2 ">
                          <div class="px-3 md:px-0">
                              <h3 class="font-bold text-red-700"></h3>
                              <p class="py-4">
                                  
                              </p>
                          </div>
                      </div>
                      <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                          <div class="px-3 md:px-0">
                              <h3 class="font-bold text-gray-900"></h3>
                              <ul class="list-reset items-center pt-3">
                                  <li>
                                      <a class="inline-block no-underline hover:text-black hover:underline py-1" href="#"></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
        </div>
      </div>
    </div>
    
</body>
</html>